@font-face {
  font-family: 'sf-regular';
  src: url('assets/font/SF-Pro-Display-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sf-semibold';
  src: url('assets/font/SF-Pro-Display-Semibold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sf-bold';
  src: url('assets/font/SF-Pro-Display-Bold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Hides the scrollbar and disables scrolling */
}
body {
  height: 100%;
  height: 100vh;
  font-family: 'sf-semibold';
  color: #fff;
  background: url("Red Blue iPhone 14 Pro Max Wallpaper 4K HD.jpeg") no-repeat;
  background-position: center;
  background-size: cover;
}

.dock img {
  width: 60px;
  height: 60px;
}
.status-bar {
  width: 100%;
  height: 44px;  /* icon 20px */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.status-left{
  margin-left: 20px;
}
.status-right {
  margin-right: 20px;
  display: flex;
  gap: 6px;
}

.battery-icon {
    position: relative;
}

.percentage {
  color: #191919;
  position: absolute;
  font-size: 11px;
  font-family: 'sf-semibold';
  right: 0;
  padding-right: 28px;
}
.dock-warp {
  position: absolute;
  bottom: 5px;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dock {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  padding: 18px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  border-radius: 34px;
}

.widget-warp {
  width: 100%;
  height: 190px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}
.weather {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 170px;
  border-radius: 24px;
  background: linear-gradient(#074A8E, #5596D8);  
}
.weather-info {
  position: relative;
  width: 130px;
  height: 140px;
}
.weather-info *{
  margin: 0;
  padding: 0;
}
.weather-info img {
  width:60px;
  height:60px;
  position: relative;
  left: -10px;
  top:-10px;
}
.weather-info p {
  position: relative;
  bottom: 20px;
}
.weather:before {
  content: "Weather";
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}

.calendar {
  height: 170px;
  width: 170px;
  border-radius: 24px;
  position: relative;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.calendar div{
  color: gray;
  font-size: 27px;
  font-family: "sf-bold";
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0;
  padding: 0;
}
#c-date {
  color: #000;
  font-family: "sf-semibold";
  font-size: 6rem;
  line-height: 0.9;
  text-align: center;
  margin: 0;
  padding: 0;
}
.calendar:before {
  content: "calendar";
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}

.search {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search button {
  color: #fff;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  border: 0 solid;
  border-radius: 34px;
  padding: 7px 15px;
}

.music-s {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
.music-bg {
  width: 355px;
  height: 150px;
  background: linear-gradient(#ff7b7b,#fe3535);
  border-radius: 25px;
  display: flex;
  align-items: center;
}
.music-box {
  width: 45%;
  height: 100%;
}
.mbone {
  display: flex;
  align-items: center;
  padding-left: 12px;
}
.mbtwo {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.music-album {
  width: 130px;
  height: 130px;
  border-radius: 15px;
  object-fit: cover;
}

.mbtwo h1,.mbtwo h3 {
  margin: 0;
  padding: 0;
}
.music-ppn {
  margin-left: -10px;
}
.music-ppn * {
  padding: 5px 10px;
  position: relative;
  z-index: 10;
}
